@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}
*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
body {
  font-family: "Roboto", sans-serif;
}
.layer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pd-y {
  padding: 104px 0 !important;
}
.pd-y-s {
  padding: 70px 0 !important;
}
a.active::after {
  width: 100%;
}
a.active {
  color: rgb(15, 23, 42);
}
img {
  width: 100%;
  height: 100%;
}
/*product rating svg style*/
svg.star-svg {
  display: inline;
}
